@{
    ViewBag.Title = "Ordered successfully";
}

<div class="container text-center">
    <h2 class="text-success" style="font-size: 30px">Congratulations, your order was successful!</h2>
    <br/>
    <span class="text-center">For more information please checkout your email inbox.</span>
</div>

<div class="btn btn-info btn-lg center-block" style="width: 200px">
    @Html.ActionLink("Back to store", "Index", "Product")
</div>
